body {
    margin-top: 20px;
}


.sidebar-nav {
    padding: 0;
    list-style: none;

}

.header-content-inline img,
.header-content-inline .text-content {
    display: inline-block;
    vertical-align: middle;
}

.text-content h1 {
    margin: 0;
}
